@page "/data-binding-two-way"

@using BlazorStateManagement.Components;
@inject ILogger<DataBinding2way> _logger;

<h3>Data Binding - two-way example</h3>
<hr />

<p>
    <Label>Name:</Label>
    <input @bind="Name" />
</p>

<p>
    <Label>Favourite Colour:</Label>
    <select @bind="FavouriteColour">
        <option>Red</option>
        <option>Blue</option>
        <option>Green</option>
        <option>Yellow</option>
    </select>
</p>

<p>
    <Label>Date:</Label>
    <input @bind="DateRecorded" @bind:format="dd/MM/yyyy" />
</p>

<p>
    <Label>Description:</Label>
    <input @bind-value="Description" @bind-value:event="oninput" />
</p>


<hr />

<h1>Parent values</h1>

<p>Hi @Name</p>
<p>Your favourite colour on @(DateRecorded.ToString("dd/MM/yyyy")) was @FavouriteColour</p>
<p>Description is: @Description</p>

@code {

    public string? Name { get; set; }
    public string? Description { get; set; }
    public string? FavouriteColour { get; set; }
    public DateTime DateRecorded = DateTime.Now;
}