@page "/"

<PageTitle>Blazor State Management</PageTitle>

<div style="font-size: 170px;text-align: center;">Wise up Wednesday</div>
<div style="font-size: 130px;text-align: center;">Blazor State Management</div>
<div style="font-size: 170px; text-align: center; padding-top: 30px">12 / 04 / 23</div>
